<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>CS 253 Blog</title>
</head>

<body>

  <a href="/blog" class="main-title">
    CS 253 Blog
  </a>

  <!-- Render login header -->
  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <!-- Render message box -->
  {% if message %}
    <div class="message-box"><b>{{message}}</b></div>
  {% endif %}

  <!-- Render content box -->
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

