<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>
    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>
  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <br/>
  <section class="admin-function">
    <!-- Delete post -->
      <div class="delete-post">
        <form method="post" action="delete">
            <input type="hidden" value="{{p.key()}}"/>
            <button type="submit" name= "Delete">Delete this Post</button>
        </form>
      </div>

  </section>

</div>
