{% extends "base.html" %}

{% block content %}
  <h2>post form</h2>
    {% if error %}
        <div class="error">{{error}}</div></br>
    {% endif %}

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{post.subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{post.content}}</textarea>
      </label>

      <input type="submit">
    </form>

    {% if post.key().id() %}
        <br/><a href="/posts/{{post.key().id()}}">Back to view</a>
    {% endif %}
{% endblock %}
