<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{p.subject}}
    </div>

    <div class="post-date">
      <a href="/blog/edit/{{p.key().id()}}">Edit</a> | {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <section class="admin-function">
    <!-- Delete post -->
      <div class="delete-post">
        <form method="post" action="/blog/delete">
            <input name="post_id" type="hidden" value="{{p.key().id()}}"/>
            <button type="submit" name= "Delete">Delete this Post</button>
        </form>
      </div>
  </section>
</div>
